{{ include('headerAdmin/headerAdmin.php') }}



{% block body %}
    <h1>Edit Produits</h1>
<div class ="mx-auto" style ="width:200px; margin-top:0hem;">
    {{ include('produits/_form.html.twig', {'button_label': 'Update'}) }}
</div>
    <a href="{{ path('app_produits_index') }}">back to list</a>

    {{ include('produits/_delete_form.html.twig') }}
{% endblock %}
