{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}


  <main>
    <div class="top_index">
      <div id="currently">
        <div id="open"></div>
        <p id="currently_open">Restaurant ouvert</p>
      </div>

       <a href="/reservations/new">
        <div class="input_reservation"></div>
      </a>
    </div>
    </main>

<div class="slider">
  <div class="slide"><img src="https://lexperienceburger.com/wp-content/uploads/2020/05/Photo-Restaurant-Expe%CC%81rience-Burger-Be%CC%81thune-8.jpg" alt="image1"></div>
  <div class="slide"><img src="https://lexperienceburger.com/wp-content/uploads/2020/05/Photo-Restaurant-Expe%CC%81rience-Burger-Be%CC%81thune-12.jpg" alt="image2"></div>
  <div class="slide"><img src="https://static.actu.fr/uploads/2020/06/restaurant-960x640.jpeg" alt="image3"></div>
  <div class="slide"><img src="https://lexperienceburger.com/wp-content/uploads/2020/04/Viande.jpg" alt="image4"></div>
  <div class="slide"><img src="https://image.freepik.com/photos-gratuite/burger-cotlet-boeuf-sauce-planche-bois_114579-2600.jpg" alt="image5"></div>
</div>



 <script src="/js/time.js"></script>
{% endblock %}
