body {
  background-color: #e9ebee;
}

.ling1 {
  display: flex;
  -webkit-text-stroke: thin;
  align-items: center;

  color: rgb(0, 0, 0);
}

#img {
  width: 325rem !important;
  height: 300px !important;
  border: double !important;
}

.ling2 {
  display: flex;
  padding: 60px 0px 10px;
  align-items: center;
  -webkit-text-stroke: thin;

  color: rgb(0, 0, 0);
}

.ling3 {
  display: flex;
  -webkit-text-stroke: thin;
  padding: 60px 0px 10px;
  text-align: justify;

  color: rgb(0, 0, 0);
}

p {
  font-family: Helvetica, Arial;

  margin: 0 10px 0 10px;
}

@media screen and (min-width: 1000px) {
  .carousel-indicators {
    display: none;
  }

  .carousel-inner {
    display: none;
  }

  .carousel-control-prev {
    display: none;
  }

  .carousel-control-prev {
    display: none;
  }

  .carousel {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  h1 {
    font-family: Amatic SC;
    font: 900;
    color: #8c1b11;
    font-size: 16vw;
    align-self: center;
  }

  img {
    display: none;
  }

  header {
    background-image: none;
  }

  .logo {
    width: 35vw;
  }

  header {
    color: red;
    background-color: black;
    height: 115px;
  }

  .ling2 {
    flex-wrap: wrap;
  }

  #demo {
    width: 100vw;
  }
}
a {
  text-decoration: none !important;
  color: #222126 !important;
}
