body {
  background-color: #e9ebee;
}
.H2reservation {
  display: flex;
  justify-content: center;
  color: #8c1b11;
  background-color: #222126;
  padding: 15px;
}

#reservations {
  width: 300px;
  margin: 20px auto;
  padding: 30px 30px;
  background: #f2b05e;
  width: 314px;
  border: double;
  box-sizing: content-box !important
}

#reservations input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #ccc;
  font-size: 20px;
  width: 300px;
  min-height: 30px;
  display: block;
  margin-bottom: 15px;
  margin-top: 5px;
  outline: none;
  border: solid;
}

#reservations input[type="submit"] {
  background: none;
  padding: 10px;
  cursor: pointer;
}

label {
  cursor: pointer;
}


@media screen and (min-width: 320px) and (max-width: 640px) {

  header {


      display: flex;
      justify-content: center;
      color: red;
      background-color: #222126;
      height: 100px;
      align-content: space-around;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-end;

  }

  .logo {
      height: 100%;
      width: 60vw;
  }

  h1 {
      font-size: 30px;
      display: none;
  }

  .btn{
    margin-left: -34rem;
  }

  h2 {
      display: flex;
      justify-content: center;
      color: red;
      background-color: black;
      padding: 10px;
  }

  h2 {
      display: none;
  }

  #reservations {
      margin: 29px auto;
      padding: 30px 22px;
      background: #F2B05E;
      width: 303px;
      border: double;
      margin-left: -34rem;
  }

  #reservations input {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      border: 1px solid #ccc;
      font-size: 20px;
      width: 245px;
      min-height: 30px;
      display: block;
      margin-bottom: 15px;
      margin-top: 5px;
      outline: none;

      border: solid;

  }

}