{{ include('headerAdmin/headerAdmin.php') }}


{% block body %}
    <h1>Edit Commentaire</h1>

<div class ="mx-auto" style ="width:200px; margin-top:0hem;">
    {{ include('commentaire/_form.html.twig', {'button_label': 'Update'}) }}
</div>
    <a href="{{ path('app_commentaire_index') }}">back to list</a>

    {{ include('commentaire/_delete_form.html.twig') }}
{% endblock %}
