
<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href = "/avis.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


  {{ include('header/header.php') }}

{% block body %}
   <h2 class="H2avis">DONNEZ VOTRE AVIS</h2>


{% for commentaire in commentaires %}
<div class="container">
<div class="be-comment-block">
	<h1 class="comments-title"></h1>
	<div class="be-comment">
		<div class="be-img-comment">	
				<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a6/Anonymous_emblem.svg/1024px-Anonymous_emblem.svg.png" alt="" class="be-ava-comment">
		</div>
		<div class="be-comment-content">
			
				<span class="be-comment-name">
					<u>{{ commentaire.username }}</u>
					</span>
				<span class="be-comment-time">
					<i class="fa fa-clock-o"></i>
					{{ commentaire.date ? commentaire.date|date('Y-m-d H:i')  : '' }}
				</span>

			<p class="be-comment-text">
				{{commentaire.avis}}
			</p>
		</div>
	</div>
	
		</div>
	</div>
	


 {% endfor %}
 <div class = "aviscontainer">
 <div class ="mx-auto" style ="width:200px; margin-top:0hem;">
	{{ include('./commentaire/_form.html.twig') }} 
</div>
</div>


    {% endblock %}
  {{ include('footer/footer.php') }}
 

