<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
       
         
        
        {% block stylesheets %}
         <link href = "/index.css" rel="stylesheet">
         <link href = "/reservation.css" rel="stylesheet">
           <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />
        {% endblock %}

        {% block javascripts %}
             <script src="/js/head.js"></script>
        {% endblock %}
        
    </head>
{{ include('header/header.php') }}
  
   {% block body %} 
         
    {% endblock %}
    {{ include('footer/footer.php') }}
</html>
