{% block stylesheets %}
<link href="/carte.css" rel="stylesheet">
{% endblock %}

{% block body %}
{{ include('header/header.php') }}
<h2 class="H2menu">MENU</h2>


{% for produit in produits %}
<div class="col-md-6 col-lg-4 col-xl-3">
<section id="food-menu">

  <div class="food-menu-container container">
    <div class="food-menu-item">
      <div class="food-img">
        <img src="{{ asset('uploads/')~ produit.imageid }}" alt="{{ produit.imageid }}" />
      </div>
      <div class="food-description">
        <h2 class="food-titile">{{ produit.nom }}</h2>
        <p>
          {{ produit.description }}
        </p>
        <p class="food-price">Price: {{produit.prix}} &#36;</p>
        <p class="food-price">Disponibilite: {{ produit.disponibilite ? '&#128997' : '&#129001' }}</p>
      </div>
    </div>

  </div>
  </div>
  </div>
  </div>
</section>

{% endfor %}


{% endblock %}
{{ include('footer/footer.php') }}