 {% block stylesheets %}
 <link href="/carte.css" rel="stylesheet">
 {% endblock %}

 <head>
   <link href="/coordonees.css" rel="stylesheet">
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
     integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
     crossorigin="" />
   <!-- Make sure you put this AFTER Leaflet's CSS -->
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
     integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
     crossorigin=""></script>

 </head>


 {% block body %}
 {{ include('header/header.php') }}
 <h2 class="H2contacter">NOUS CONTACTER</h2>
 <div class="map">
   <div id="map"></div>
   <div class="map-c">
     <h1 class="corH1">DeadCowDiner</h1>
     <p class="corP">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium id cumque est dolores
       voluptatibus.</p>
     <div class="det"><i class="fa fa-map-marker"></i> 102 New Road, New City</div>
     <div class="det"><i class="fa fa-phone"></i> 001 2045 509</div>
     <div class="det"><i class="fa fa-globe"></i> www.DeadCowDiner.com</div>
     <center>
       <button class="fa fa-car"></button>
       <button class="fa fa-envelope"></button>
     </center>
   </div>
 </div>
 {% endblock %}
 <script src="https://kit.fontawesome.com/520b85ccf6.js" crossorigin="anonymous"></script>
 <script src="/js/map.js"></script>
 {{ include('footer/footer.php') }}