{% block stylesheets %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="/histoire.css" rel="stylesheet">
{% endblock %}



{% block body %}
{{ include('header/header.php') }}
<main>

    <div id="demo" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>

        </div>


        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://lexperienceburger.com/wp-content/uploads/2020/05/Photo-Restaurant-Expe%CC%81rience-Burger-Be%CC%81thune-8.jpg"
                    alt="burger" class="d-block w-100" />
            </div>

            <div class="carousel-item">
                <img src="https://lexperienceburger.com/wp-content/uploads/2020/05/Photo-Restaurant-Expe%CC%81rience-Burger-Be%CC%81thune-12.jpg"
                    alt="burger2" class="d-block w-100" />
            </div>
            <div class="carousel-item">
                <img src="https://static.actu.fr/uploads/2020/06/restaurant-960x640.jpeg" alt="burger3"
                    class="d-block w-100" />
            </div>
            <div class="carousel-item">
                <img src="https://lexperienceburger.com/wp-content/uploads/2020/04/Viande.jpg" alt="burger2"
                    class="d-block w-100" />
            </div>
            <div class="carousel-item">
                <img src="https://image.freepik.com/photos-gratuite/burger-cotlet-boeuf-sauce-planche-bois_114579-2600.jpg"
                    alt="burger2" class="d-block w-100" />
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>

    {% for image in images %}
    <div class="ling1">
        <img id="img" src="{{ asset('uploads/')~ image.image1 }}" alt="{{ image.image1 }}" />
        <p>{{ image.text1 }}</p>

        <div class="ph1">
            <img id="img" src="{{ asset('uploads/')~ image.image2 }}" alt="{{ image.image2 }}" />
        </div>
    </div>

    </div>

    <div class="ling2">
        <p>{{ image.text2}}</p>

        <div class="ph3">
            <img id="img" src="{{ asset('uploads/')~ image.image3 }}" alt="{{ image.image3 }}" />
        </div>

        <p>{{ image.text3}}</p>
    </div>
    </div>
    <div class="ling3">

        <img id="img" src="{{ asset('uploads/')~ image.image4 }}" alt="{{ image.image5 }}" />

        <p>{{ image.text4 }} </p>
        <div class="ph2">
            <img id="img" src="{{ asset('uploads/')~ image.image5 }}" alt="{{ image.image5 }}" />

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
</main>
{% endfor %}


{% endblock %}
{{ include('footer/footer.php') }}