{{ include('headerAdmin/headerAdmin.php') }}



{% block body %}
    <h1>Edit Reservations</h1>
<div class ="mx-auto" style ="width:200px; margin-top:0hem;">
    {{ include('reservations/_form.html.twig', {'button_label': 'Update'}) }}
</diV>
    <a href="{{ path('app_reservations_index') }}">back to list</a>

    {{ include('reservations/_delete_form.html.twig') }}
{% endblock %}
