{% extends 'base.html.twig' %}

{% block title %}New Reservations{% endblock %}

{% block body %}
    <h2 class = "H2reservation">RESERVEZ VOTRE TABLE</h2>
<div class ="mx-auto" style ="width:200px; margin-top:5em; margin-left:35em;">
    {{ include('reservations/_form.html.twig') }}
</div>
    {# <a href="{{ path('app_reservations_index') }}">back to list</a> #}
{% endblock %}
