{{ include('headerAdmin/headerAdmin.php') }}



{% block body %}
    <h1>Edit Images</h1>

    {{ include('images/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_images_index') }}">back to list</a>

    {{ include('images/_delete_form.html.twig') }}
{% endblock %}
