
 {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {% endblock %}
{% block title %}Images index/Admin{% endblock %}

{% block body %}
{{ include('headerAdmin/headerAdmin.php') }}
    <h1>Images index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
               
                <th>Image1</th>
                <th>Image2</th>
                <th>Image3</th>
                <th>Image4</th>
                <th>Image5</th>
                <th>Text1</th>
                <th>Text2</th>
                <th>Text3</th>
                <th>Text4</th>
                <th>Text5</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
               
                <td>{{ image.image1 }}</td>
                <td>{{ image.image2 }}</td>
                <td>{{ image.image3 }}</td>
                <td>{{ image.image4 }}</td>
                <td>{{ image.image5 }}</td>
                <td>{{ image.text1 }}</td>
                <td>{{ image.text2 }}</td>
                <td>{{ image.text3 }}</td>
                <td>{{ image.text4 }}</td>
                <td>{{ image.text5 }}</td>
                <td>
                    <a href="{{ path('app_images_show', {'id': image.id}) }}">show</a>
                    <a href="{{ path('app_images_edit', {'id': image.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_images_new') }}">Create new</a>
{% endblock %}
