{{ include('headerAdmin/headerAdmin.php') }}
 {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {% endblock %}
{% block title %}Images{% endblock %}

{% block body %}
    <h1>Images</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ image.id }}</td>
            </tr>
            
            <tr>
                <th>Image1</th>
                <td>{{ image.image1 }}</td>
            </tr>
            <tr>
                <th>Image2</th>
                <td>{{ image.image2 }}</td>
            </tr>
            <tr>
                <th>Image3</th>
                <td>{{ image.image3 }}</td>
            </tr>
            <tr>
                <th>Image4</th>
                <td>{{ image.image4 }}</td>
            </tr>
            <tr>
                <th>Image5</th>
                <td>{{ image.image5 }}</td>
            </tr>
            <tr>
                <th>Text1</th>
                <td>{{ image.text1 }}</td>
            </tr>
            <tr>
                <th>Text2</th>
                <td>{{ image.text2 }}</td>
            </tr>
            <tr>
                <th>Text3</th>
                <td>{{ image.text3 }}</td>
            </tr>
            <tr>
                <th>Text4</th>
                <td>{{ image.text4 }}</td>
            </tr>
            <tr>
                <th>Text5</th>
                <td>{{ image.text5 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_images_index') }}">back to list</a>

    <a href="{{ path('app_images_edit', {'id': image.id}) }}">edit</a>

    {{ include('images/_delete_form.html.twig') }}
{% endblock %}
